body{
  background-color: #aabbcd;
}
.App {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

a {
  background-color: #1a9bc2;
  color: aliceblue;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
